/* !Используемые шрифты */

/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Yeseva One', cursive; */


/* ! Container */

.container {
    max-width: 1263px;
    margin: 0 auto;
}

/* ! LINK */

.link {
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

/* ! BUTTON */

.button {
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: darkgrey;
    transition: all 0.2s ease-in;
    transform: translate(5px);
}

.checkbox {
    cursor: pointer;
}

/* ! HEADER */

.header {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #131313;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.list__item {
    list-style: none;
    margin-right: 47px;
}

.nav__list {
    display: flex;
}

.header-logo {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
    cursor: pointer;
}

.nav__link {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.nav__link-active {
    color: #E3B873;
}

.nav__link:hover {
    text-decoration: underline;
    color: #E3B873;
    transition: all 0.3s ease;
}

.telephone-color {
    text-decoration: underline;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
    cursor: pointer;
}

.header__button-color {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    padding: 13px 33px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.header__button-text {
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}



/* ! SECTION MAIN SCREEN */

.main-screen {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/section-01/background-01.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: cover;
    padding-bottom: 150px;
}

.main-screen__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-screen__title-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title-text__color-orange {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #E3B873;
}

.main-screen__title {
    margin-top: 160px;
    /* margin-left: 90px; */
}

/* .main-screen__paragraph, .main-screen__button {
    margin-left: 90px;
} */

.main-screen__paragraph-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;

    margin-top: 0px;
}

.main-screen__button {
    display: flex;
}

.main-screen__button-calc {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    width: 207px;
    height: 51px;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.main-screen__button-submit {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    width: 207px;
    height: 51px;
    background: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.main-screen__button-text {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}


/* ! SLIDER */

.slider {
    background: #131313;
    padding-top: 80px;
    padding-bottom: 420px;
}

.slider__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.slider__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    padding-top: 70px;
}

.sleder__paragraph {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.project-parameters {
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: 1fr 1fr;
    margin-top: 30px;
}

.project-parameter__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.project-parameter__description {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.slider__arrows {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.slider__arrow {
    transition: 0.5s;
}

.arrow__left {
    margin-right: 15px;
}

.arrow__right {
    margin-left: 30px;
}

.arrow__left:hover {
    transform: translate(-10px);
}

.arrow__right:hover {
    transform: translate(10px);
}

.slider__dots {
    display: flex;
}

.slider__dot {
    margin-left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
}

.slider__dot:hover {
    background-color: #FFFFFF;
    transition: all 0.3s ease-in;
}

.slider__dot-active {
    background-color: #FFFFFF;
}

.projects__item {
    list-style: none;
}

.list__projects {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-left: 0;
}

.project__item-link {
    text-decoration: none;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.project__item-link-active {
    text-decoration: underline;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
}

.slider__img {
    object-fit: cover;
}

.slider__arrow,
.slider__dot {
    cursor: pointer;
}

/* ! ONLINE CONTROL */

.online-control__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -330px;
}

.online-control__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.online-control__cam-img {
    display: flex;
}

.camera-image {
    margin-left: 10px;
    margin-right: 10px;
}

.online-control__video {
    margin-top: 30px;
}

.video__play-button {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-self: center;
    top: -250px;
}

.online-control__play-button {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
}

.vector-play {
    padding: auto;
}

.video-img {
    filter: brightness(20%)
}

.online-control__break-line {
    margin-top: -20px;
    margin-bottom: 20px;
}

.online-control__paragraph {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;

    margin-bottom: 60px;
}

.form__inner {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.form__checkbox {
    display: flex;
}

.form__input-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.form__input {
    border: #FFFFFF;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

.form__label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.form__button-color {
    background: #E3B873;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    padding: 12px 76px 7px 76px;
    transition: all 0.2s ease-in;
}

.form__button-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.form__checkbox {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

/* Как сделать галочку оранжевого цвета */
.checkbox-color {
    margin-right: 10px;
    background: #E3B873;
    border-radius: 1px;
}

.checkbox__info {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}

/* ! TYPES OF REPAIR */

.types-of-repair {
    margin-top: 120px;
}

.types-of-repair__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.types-of-repair__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.types-of-repair__svg-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.types-of-repair__inctrum-img {
    margin-left: 10px;
    margin-right: 10px;
}

.example-cards {
    margin-top: 25px;
}

.example-cards__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.example-card__description {
    margin-left: 30px;
    margin-top: -120px;
    z-index: 1;
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    width: 330px;
    height: 286px;
    display: flex;
    flex-direction: column;
}

.example-card__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin-left: 25px;
    margin-bottom: 5px;
}

.example-card__repair-list {
    margin-top: 5px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.example-card__price {
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    width: 228px;
    padding: 15px 20px 12px 20px;

}

.price__text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.example-card__image {
    object-fit: cover;
}

.request {
    margin-top: 120px;
}

.services__item {
    display: flex;
    align-items: center;
    margin-left: 250px;
    margin-top: 100px;
}

.request__wrapper {
    display: flex;
    justify-content: space-between;
}

.request__services {
    background-image: url(../img/types-of-repair/services/back.png);
    background-repeat: no-repeat;
}

.service__number-color {
    background: #E3B873;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    padding: 8px;
}

.service__number-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}

.service__description {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #363636;
    margin-left: 20px;
}

.request-form {
    /* width: 506px; */
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    margin-top: 120px;
    margin-bottom: 150px;
}

.request-form__paragraph {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 30px 105px;
}

.request-form__input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 30px 45px 30px 45px;
}

.request-form__label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.request-form__input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    background: #131313;
}

.request-form__checkbox {
    display: flex;
    margin-left: 45px;
    margin-top: -30px;
}

.request-form__checkbox-info {
    margin-left: 10px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.request-form__button-color {
    margin: 40px 50px 30px 250px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    padding: 10px 30px 7px 30px;
}

.request-form__button-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.pig-image {
    margin-top: -130px;
    margin-right: 150px;
}

.pig-image__wrapper {
    display: flex;
    justify-content: flex-end;
}

.pig-image__description {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

/* ! FANTASIES */

.fantasies {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/fantasies/background.png);
    background-repeat: no-repeat;
    object-fit: cover;
    margin-top: 200px;
    background-size: 100%;
    height: 864px;
}

.fantasies__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.fantasies__selector {
    margin-top: 120px;
}

.selector__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    color: #E3B873;
    margin-left: 35px;
}

.selector__list {
    margin-top: 30px;
    list-style: none;
}

.selector__item {
    margin-bottom: 15px;
}

.selector__link {
    text-decoration: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #FFFFFF;
}

.selector__link-active {
    text-decoration: underline;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: #E3B873;
}

.fantasies__images {
    margin-left: 70px;
}

.fantasies__images-clock {
    width: 354px;
    height: 557.88px;
    margin-top: -50px;
}

.fantasies__images-chair {
    width: 354px;
    height: 349.37px;
    margin-top: 40px;
}

.fantasies__images-sofa {
    width: 354px;
    height: 275px;
    margin-top: -110px;
}

.fantasies__images-flower {
    width: 354px;
    height: 624.88px;
    margin-top: 40px;
}

/* ! OUR CLIENTS */

.our-clients {
    margin-top: 110px;
}

.our-clients__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-cards__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    
}

.our-clients__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.our-clients__statistic {
    margin-top: 30px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    color: #363636;
}

.our-clients__client-cards {
    margin-top: 40px;
    margin-left: 40px;
}

.client-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFFFFF;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
    height: 420px;
}

.client-card__photo-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.client__photo {
    border-radius: 50%;
    margin-top: 15px;
}

.client__name {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #181818;
    margin-top: 20px;
    margin-left: 20px;
}

.client__info {
    margin-left: 20px;
    margin-top: 20px;
    padding-right: 20px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: #959595;
}

.client__space-and-time {
    margin-left: -15px;
    margin-top: 50px;
}

.our-clients__back {
    width: 100%;
    filter: opacity(5%);
    margin-top: -1500px;
}

.any-question-form {
    width: 883px;
    margin-top: 150px;
    background: #181818;
    position: relative;
    z-index: 2;
}

.any-question__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.any-question__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 40px;
}

.input-contacts__wrapper {
    display: flex;
}

.input-contacts__input-wrapper,
.input-question__input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-contacts__label,
.input-question__label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}

.input-contacts__input,
.input-question__input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    background-color: #131313;
}

.input-contacts__input-wrapper {
    margin-right: 20px;
}

.input-contacts__input {
    padding-right: 50px;
}

.any-question__input-question {
    margin-top: 50px;
}

.any-question__checkbox {
    display: flex;
    margin-top: 30px;
}

.any-question__checkbox-info {
    margin-left: 20px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.any-question__button-color {
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 12px 55px 8px 55px;
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
}

.any-question__button-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* ! LOCATION */

.location {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/location/background.png);
    background-repeat: no-repeat;
    object-fit: cover;
    margin-top: -250px;
    background-size: 100%;
    position: relative;
    z-index: 1;
}

.location__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
}

.location__address {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #E3B873;
}


.svg-links__wrapper {
    display: flex;
    justify-content: center;
}

.post__icon {
    margin-right: 15px;
}

.location__map {
    margin-top: 40px;
    padding-bottom: 50px;
}

/* ! FOOTER */

.footer {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #131313;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.list__item {
    list-style: none;
    margin-right: 47px;
}

.nav__list {
    display: flex;
}

.footer-logo {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
    cursor: pointer;
}

.nav__link {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.nav__link-active {
    color: #E3B873;
}

.nav__link:hover {
    text-decoration: underline;
    color: #E3B873;
    transition: all 0.3s ease;
}

.telephone-color {
    text-decoration: underline;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
    cursor: pointer;
}

.footer__button-color {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    padding: 13px 33px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.footer__button-text {
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
