/* !Используемые шрифты */

/* font-family: 'Nunito Sans', sans-serif;
font-family: 'Yeseva One', cursive; */

/* ! Container */

.container {
    max-width: 1263px;
    margin: 0 auto;
}

/* ! LINK */

.link {
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

/* ! HEADER */

.header {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #131313;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 37px;
    padding-bottom: 36px;
}

.list__item {
    list-style: none;
    margin-right: 47px;
}

.nav__list {
    display: flex;
}

.header-logo {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: #E3B873;
    cursor: pointer;
}

.nav__link {
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

.nav__link-active {
    color: #E3B873;
}

.nav__link:hover {
    text-decoration: underline;
}

.telephone-color {
    text-decoration: underline;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
    cursor: pointer;
}

.header__button-color {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    padding: 13px 33px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.header__button-text {
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button:hover {
    background-color: darkgrey;
    transition: all 0.2s ease-in;
    transform: translate(5px);
}

/* ! SECTION MAIN SCREEN */

.main-screen {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/section-01/background-01.jpg);
    height: 707px;
    object-fit: cover;
}

.main-screen__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-screen__title-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.title-text__color-orange {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #E3B873;
}

.main-screen__title {
    margin-top: 160px;
    /* margin-left: 90px; */
}

/* .main-screen__paragraph, .main-screen__button {
    margin-left: 90px;
} */

.main-screen__paragraph-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;

    margin-top: 0px;
}

.main-screen__button {
    display: flex;
}

.main-screen__button-calc {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    width: 207px;
    height: 51px;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.main-screen__button-submit {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    width: 207px;
    height: 51px;
    background: none;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.main-screen__button-text {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}


/* ! SLIDER */

.slider {
    background: #131313;
    padding-top: 80px;
    padding-bottom: 420px;
}

.slider__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.slider__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    padding-top: 70px;
}

.sleder__paragraph {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.project-parameters {
    display: grid;
    grid-template-columns: 33% 67%;
    grid-template-rows: 1fr 1fr;
    margin-top: 30px;
}

.project-parameter__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.project-parameter__description {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.slider__arrows {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.slider__arrow {
    transition: 0.5s;
}

.arrow__left {
    margin-right: 15px;
}

.arrow__right {
    margin-left: 30px;
}

.arrow__left:hover {
    transform: translate(-10px);
}

.arrow__right:hover {
    transform: translate(10px);
}

.slider__dots {
    display: flex;
}

.slider__dot {
    margin-left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
}

.slider__dot:hover {
    background-color: #FFFFFF;
    transition: all 0.3s ease-in;
}

.slider__dot-active {
    background-color: #FFFFFF;
}

.projects__item {
    list-style: none;
}

.list__projects {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    padding-left: 0;
}

.project__item-link {
    text-decoration: none;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}

.project__item-link-active {
    text-decoration: underline;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #E3B873;
}

.slider__img {
    object-fit: cover;
}

.slider__arrow,
.slider__dot {
    cursor: pointer;
}

/* ! ONLINE CONTROL */

.online-control__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -330px;
}

.online-control__title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.online-control__cam-img {
    display: flex;
}

.camera-image {
    margin-left: 10px;
    margin-right: 10px;
}

.online-control__video {
    margin-top: 30px;
}

.video__play-button {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-self: center;
    top: -250px;
}

.online-control__play-button {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);

}

.vector-play {
    padding: auto;
}